this will help to iterate through each item

General format: for item in object: 
            do this

In [1]:
l=[1,2,3,4,5]

In [2]:
l

[1, 2, 3, 4, 5]

In [3]:
for element in l:
    print element

1
2
3
4
5

In [5]:
for num in l:
    print 'something!'

something!
something!
something!
something!
something!

In [10]:
for num in l:
    if num%2==0:
        print num
    else:
        print 'Odd number!'

Odd number!
2
Odd number!
4
Odd number!

The % is called modulo

it gives us the remainders, just like in other languages

In [11]:
l

[1, 2, 3, 4, 5]

In [14]:
list_sum = 0

for num in l:
    list_sum+=num
print list_sum

15

In [15]:
s = 'this is a string!'

In [17]:
for letter in s:
    print letter

t
h
i
s

i
s

a

s
t
r
i
n
g
!

In [18]:
tup=(1,2,3,4,5)

for t in tup:
    print t

1
2
3
4
5

In [19]:
l = [(2,4),(4,8),(10,12)]

In [21]:
l[0][1]

4

In [22]:
for tup in l:
    print tup

(2, 4)
(4, 8)
(10, 12)

In [25]:
for (t1,t2) in l:
    print t1+t2

6
12
22

In [26]:
d={'K1':1,'k2':2, 'k3':3}

In [27]:
d

{'K1': 1, 'k2': 2, 'k3': 3}

In [28]:
for item in d:
    print item

k3
k2
K1

In [31]:
for k,v in d.iteritems():
    print k
    print v

k3
3
k2
2
K1
1